<%= form_for @user do |f| %>
  <%=f.label :email %>
  <%=f.text_field :email %>  
  <%=f.label :username %>
  <%=f.text_field :username %>  
  <%=f.label :password %>
  <%=f.text_field :password %>
  <%=f.submit :create %>
<% end %>


<%= content_tag :h3, "Email_______Username_______Password______Key________Status" %>
<% @users.each do |u| %>
	<ul>
		<li><%= content_tag :span, u.key %></li>
		<li><%= content_tag :span, "Email: " + u.email %></li>
		<li><%= content_tag :span, 'Username: ' + u.username %></li>
		<li><%= content_tag :span, 'Password: ' + u.password %></li>
	</ul>
	<br/>
<% end %>
